@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F1F8E9; /* brand-light */
  color: #5D4037;            /* brand-brown */
  font-family: 'Poppins', sans-serif;
}